.fa-css3-alt {
  color: #2196f3;
}

.fa-html5 {
  color: #f16528;
}

.fa-js-square {
  color: #ffd93a;
}

.fa-sass {
  color: #cf649a;
}

.fa-java {
  color: #2196f3;
}

#featuredProjectImg {
  -webkit-filter: saturate(0.7);
          filter: saturate(0.7);
}

.span1 {
  color: #255177;
  font-weight: 800;
}

.span2 {
  color: #64a9e6;
  font-weight: 800;
}

.span3 {
  color: white;
  font-weight: 800;
}

h4 {
  color: #64a9e6;
  font-weight: 800;
}

body {
  font-size: 1.2rem;
}

.navbar-brand {
  font-size: 1.6rem;
}

.fa-css3-alt {
  color: #2196f3;
}

.fa-html5 {
  color: #f16528;
}

.fa-js-square {
  color: #ffd93a;
}

.fa-sass {
  color: #cf649a;
}

.fa-java {
  color: #2196f3;
}

.fa {
  color: #2196f3;
}

.fa {
  color: #2196f3;
}

.fa {
  color: #2196f3;
}

.fa {
  color: #2196f3;
}

.about-section {
  padding-bottom: 10rem;
}

.bg-dark {
  background-color: #202020 !important;
}

.btn-primary {
  background-color: #1b3a55;
  border-color: #1b3a55;
}

.btn-primary:hover {
  background-color: #142a3d;
  border-color: #142a3d;
}

.btn-primary:focus, .btn-primary.focus {
  background-color: #142a3d;
  border-color: #142a3d;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(123, 175, 172, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(123, 175, 172, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: #1b3a55;
  border-color: #1b3a55;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  background-color: #142a3d;
  border-color: #142a3d;
}

.modal {
  max-width: 98%;
  padding: 0;
  margin: auto;
}

.modal-dialog {
  max-width: 98%;
  padding: 0;
  text-align: center;
}

#modalImg {
  max-width: 98%;
  max-height: 90vh;
  -o-object-fit: contain;
     object-fit: contain;
}

.bg-light {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), color-stop(50%, rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.7)));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.7) 100%);
}

#mainNav .navbar-toggler {
  color: black;
  border: 0px none;
}

#mainNav .navbar-toggler {
  padding: 0;
  height: 100%;
}

.fa-bars {
  font-size: 1.6rem;
}

.masthead h1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.2)));
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.masthead {
  background-attachment: fixed;
}

.signup-section {
  background-attachment: fixed;
}

@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 75%;
  }
}

.col-lg-6 {
  background-color: black;
  text-align: left;
}

.imgRight {
  text-align: right;
}

@media (max-width: 576px) {
  .masthead h1 {
    font-size: 1.4em;
  }
}

@media (max-width: 375px) {
  .masthead h1 {
    font-size: 1em;
  }
}

#aboutContainer {
  padding-top: 30px;
}

#projectsTitle {
  font-weight: 700;
  margin-bottom: 3em;
}

.signup-section .card {
  border: 0;
  border-bottom: 0.25rem solid #64a9e6;
}

.signup-section .card h4 {
  font-size: 0.8rem;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.signup-section .card hr {
  border-color: #64a9e6;
  border-width: 0.25rem;
  width: 3rem;
}

.signup-section .container {
  max-width: 1140px;
  font-size: 1rem;
}

#mastHeadH2 {
  margin-bottom: 1.5rem !important;
}

.masthead h1 {
  letter-spacing: 0.5rem;
}

.fa-file-pdf {
  color: #f83c3c;
}

#youtubelogo {
  color: #f83c3c;
}

#sansMap {
  height: 800px;
  max-height: 100%;
  width: 100%;
}

.smlIcon {
  height: 2.5em;
}
/*# sourceMappingURL=style.css.map */